<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjAula1.Properties.Settings.bancojuka" connectionString="workstation id=vitorgraciolli.mssql.somee.com;packet size=4096;user id=vitor_GO__SQLLogin_1;pwd=4hvyqaj3zb;data source=vitorgraciolli.mssql.somee.com;persist security info=False;initial catalog=vitorgraciolli" />
    </connectionStrings>
</configuration>