<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjAula1.Properties.Settings.bancojuka" connectionString="workstation id=vitorDataBaseJukaBank.mssql.somee.com;packet size=4096;user id=VitorGraciolli_SQLLogin_1;pwd=bb7hhvd6f5;data source=vitorDataBaseJukaBank.mssql.somee.com;persist security info=False;initial catalog=vitorDataBaseJukaBank" />
    </connectionStrings>
</configuration>